.chroma {
  background-color: unset !important;
}

.chroma .hl {
  display: flex;
}

.chroma .lnt {
  padding: 0 0 0 12px;
}

.highlight pre.chroma code {
  padding: 10px;
}

.highlight pre.chroma .line .cl,
.chroma .ln {
  padding: 0 10px;
}

.chroma .lntd:last-of-type {
  width: 100%;
}
